<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <div class="wrapper">
    <form action="/users" method = "post">
      Your Name: <input type="text" name = "name">
      Dojo Location: <select name="dojo" id="">
        <option value="Mountain View">Mountain View</option>
        <option value="Los Angeles">Los Angeles</option>
        <option value="Dallas">Dallas</option>
        <option value="Chicago">Chicago</option>
      </select>
      Favorite Language: <select name="language" id="">
        <option value="Ruby">Ruby</option>
        <option value="Python">Python</option>
        <option value="MEAN">MEAN</option>
        <option value="iOS">iOS</option>
      </select>
      Comments: <input type="textarea" name = "comments">
      <input type="submit" value="Submit">
    </form>
  </div>
</body>
</html>
