<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script type="text/javascript" src="/socket.io/socket.io.js"></script>
    </head>
    <body>
        <h1>Sign in to the Chatroom</h1><br>
        <form id="signin" action="/chat" method="post">
            <input type="text" name="username" value="">
            <button type="submit" name="submit" id="submit">Submit!</button>
        </form>
    </body>
</html>
